html, body {
    height: 100%;
    margin: 0;
    background-color: #5F9EA0;
}

header {
    background-color: #FAFDF7;
    text-align: center;
    height: 20vh;
}

textarea {
    width: 300px;
    height: 64px;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    font-family: "Courier New";
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section {
    flex: 50%;
    text-align: center;
}

.recipes-display-table {
    border-collapse: collapse;
}

.recipes-display-tr {
    border-bottom: 1pt solid lightgray;
}

#ingredients-display {
    background-color: #FAFDF7;
    width: 90%;
    height: 55vh;
    overflow-x: hidden;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#recipes-display {
    background-color: #FAFDF7;
    width: 90%;
    height: 69.5vh;
    overflow-x: hidden;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
